body {
    font-family: sans-serif;
    color: #ccc;
    background-color: black;

}

p {
    color: yellowgreen;
}

span {
    color: white;

}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    padding: 50px;
    color: #edf1f4;

}

label {
    margin-bottom: 5px;
    padding: 5px;
}

input {
    padding: 5px;
    border: 1px solid #ccc;
    width: 200px;
}

button {
    margin-top: 10px;
    padding: 15px 20px;
    background-color: #007bff;
    border-radius: 5px;
    color: white;
    border: none;
    cursor: pointer;
    transition: all 1s #067bf7 ease;
}

button:hover {
    color: #edf1f4;
    box-shadow: 0 0 20px #097af3;

}

.resultado {
    margin-top: 20px;
    border: 1px solid #ccc;
    padding: 10px;
    width: 300px;
}

#imc-valor {
    font-weight: bold;
}

#imc-classificacao {
    color: white;
}